.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
    
}
body {
    background-color: aqua;
}

.container {
    background-color: chocolate;
    border-radius: 70% 30% 30% 70%;
}

.card-body {
    background-color: blueviolet;
    border-radius: 4em 8em;
}
